.idea
.vscode
.sass-cache
.python-version
*.sqlite3
*.py[co]
*.mo
*~
*.swp
dmoj-site.pid
dmoj-site.sock
.fuse_hidden*
resources/dark
resources/martor-description.css
resources/select2-dmoj.css
resources/style.css
resources/vars.scss
sass_processed
bridge_log.txt
_mytempfile/
tmp_uwsgi.ini
nginx_template.conf
martor/
judge/fixtures/fixed*
judge/fixtures/voj_*
judge/fixtures/VOJ_*
VOJ_*problems.json
vo21.json
tmp.json
language_voj.json
/static./
/staticfiles
/vnojsite/*
backup*.json
custom_script_*
node_modules/
db.json
tmp.sh
*.sql
fc_*
local_urls.py
celerybeat-schedule.*
